<%= form_for(@event) do |f| %> <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being
            saved:</h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li> <% end %>
          </ul>
        </div> <% end %>
    <div class="field">
      <%= f.label :name %><br> <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %> </div>
    <div class="field">
      <%= f.label :start_time %><br>
      <%= f.datetime_select :start_time %>
    </div>
    <div class="field">
      <%= f.label :end_time %><br>
      <%= f.datetime_select :end_time %> </div>
    <div class="field">
      <%= f.label :location %><br>
      <%= f.text_field :location %> </div>
    <% if current_user.social_graph.present? && (f.object.new_record? || f.object.on_facebook?) %> <div>
  <h4>Invite Friends</h4> <ul>
  <% current_user.social_graph.friends.each do |friend| -%> <li>
  <%= check_box_tag 'event[facebook_attenders_ids][]', friend.identifier %> <%= image_tag "http://graph.facebook.com/#{friend.identifier}/picture" -%> <%= friend.name -%> </li>
  <% end -%> </ul> </div>
    <% end -%>
    <div class="actions">
      <%= f.submit %> </div>
<% end %>